<h2 mat-dialog-title>TODO</h2>
<div class="alert alert-danger"  *ngIf="serverError">
  <div class="container-error-message">
    <div>
      Ocurrió un error en el servidor
    </div>
  </div>
</div>
<form [formGroup]="editTodoForm" (ngSubmit)="onSubmit(editTodoForm.value)">
  <mat-dialog-content>
    <mat-form-field class="form-field">
      <mat-label>Título</mat-label>
      <input matInput (ngModelChange)="onChange()" formControlName="titleControl">
    </mat-form-field>
    <div class="alert alert-danger"  *ngIf="editTodoForm.get('titleControl').hasError('required') && submitted">
      <div class="container-error-message">
        <div>
          Título requerido
        </div>
      </div>
    </div>
    <br>
    <mat-form-field class="form-field">
      <mat-label>Descripción (Opcional)</mat-label>
      <textarea matInput (ngModelChange)="onChange()" formControlName="descriptionControl"></textarea>
    </mat-form-field>
  </mat-dialog-content>
  <mat-dialog-actions style="justify-content: flex-end;">
    <button mat-button mat-dialog-close style="outline: 0;">
      Cancelar
    </button>
    <button mat-raised-button color="primary" [disabled]="cargando || !changed" style="outline: 0;" type="submit">
      <div *ngIf="cargando" style="padding: 5px;">
        <mat-progress-spinner  diameter="25" style="margin:0 auto;" mode="indeterminate"></mat-progress-spinner>
      </div>
      <div *ngIf="!cargando">
        Guardar
      </div>
    </button>
  </mat-dialog-actions>
</form>
